#container table
{
	border-collapse: collapse;
	background-color: #0080C0;
	text-align: center;
}

#container table th
{
	border-collapse: collapse;
	background-color: #0080C0;
	color: white;
	width: 150px;
	text-align: center;
}

#container table td:nth-child(2n)
{
	background-color: #FAFAFA;
	color: #333333;
	border: 1px dotted #AAAAAA;
}

#container table td:nth-child(2n + 1)
{
	background-color: #80FFFF;
	color: #333333;
	border: 1px dotted #333333;
}

.partImg
{
     background-image : url(WorldMapAvecGrille.png);
     width : 48px;
     height : 48px;
}

.partImg.bush
{
     background-position : 0px 0px;
}
 
.partImg.bush .horizontal
{
     background-position : calc(48px * -1) calc(0px);
}

.partImg.bush .vertical
{
     background-position : calc(0px) calc(48px * -1);
}
 
.img2 {
     background-position : 0px 100px;
}
.img2 {
     background-position : 0px 150px;
}

.img2 {
     background-position : 0px 200px;
}
// ...
