body{
    margin: 0;
    padding: 0;
    background-color: #EDE4D3;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.row{
    width: 100%;
}

.col { 
    box-sizing: border-box; 
    
}

header {
	background-color: #70553F;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    padding-top: 12px;
    padding-bottom: 12px;
}

.title h1{
    font-family: perrygothicregular, serif;
    font-size : 1.6em;
    text-align: center;
    color: #FFF5ED;
    background-color: #87664C;
    min-width: 180px;
    padding: 18px;
    width: 20%;
    margin: auto;
    text-shadow: 2px 1px 2px rgba(74,57,41,1);
    border: 6px double rgba(255,245,237,0.5);
}


section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
    justify-content:space-around;
    align-items: center;
}

section p {
    font-family: goboldregular, serif;
    font-size: 1.2em;
    line-height: 50px;
    text-align: center;
}

.select {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-bottom: 10px;
}

.select a {
	text-decoration: none;
	color: #87664C;
	border: 4px solid #4D3A2B;
    background-color: rgba(255,245,237,1);
}

.select a:hover, .select a:focus {
	color: rgba(255,245,237,1);
	border: 4px solid #70553F;
    background-color: #4D3A2B;
    transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
}



@media only screen and (max-width: 480px)
{
	.mob-0 { display: none;}
	.mob-1 { width : 8.33%; }
	.mob-2 { width : 16.66%; }
	.mob-3 { width : 24.99%; }
	.mob-4 { width : 33.33%; }
	.mob-5 { width : 41.66%; }
	.mob-6 { width : 49.99%; }
	.mob-7 { width : 58.33%; }
	.mob-8 { width : 66.66%; }
	.mob-9 { width : 74.99%; }
	.mob-10 { width : 83.33%; }
	.mob-11 { width : 91.66%; }
	.mob-12 { width : 100%; }
}

@media only screen and (min-width: 481px) and (max-width: 800px)
{

	.tab-0 { display: none;}
	.tab-1 { width : 8.33%; }
	.tab-2 { width : 16.66%; }
	.tab-3 { width : 24.99%; }
	.tab-4 { width : 33.33%; }
	.tab-5 { width : 41.66%; }
	.tab-6 { width : 49.99%; }
	.tab-7 { width : 58.33%; }
	.tab-8 { width : 66.66%; }
	.tab-9 { width : 74.99%; }
	.tab-10 { width : 83.33%; }
	.tab-11 { width : 91.66%; }
	.tab-12 { width : 100%; }
}

@media only screen and (min-width: 801px)
{
	.dsk-0 { display: none;}
	.dsk-1 { width : 8.33%; }
	.dsk-2 { width : 16.66%; }
	.dsk-3 { width : 24.99%; }
	.dsk-4 { width : 33.33%; }
	.dsk-5 { width : 41.66%; }
	.dsk-6 { width : 49.99%; }
	.dsk-7 { width : 58.33%; }
	.dsk-8 { width : 66.66%; }
	.dsk-9 { width : 74.99%; }
	.dsk-10 { width : 83.33%; }
	.dsk-11 { width : 91.66%; }
	.dsk-12 { width : 100%; }
}