li 
{
	border-radius:10px;
	list-style-type: none;
}
span
{
	background-color:#ECE8BE;
	border-radius:10px;
}
a span
{
	position:absolute;                
}
a
{
	 color:black;
	text-decoration:none;  
	
}
a:hover,a:focus
{
	 background:#677E52;
	 box-shadow:0 1px 0 rgba(255,255,255,.4);
	 color:white;
}
a span
{
	position:absolute; 
	margin-top:23px;
	margin-left:-35px;
	color:white;
	background:rgba(64,212,126,.9);
	padding:15px;
	border-radius:3px;
	box-shadow:0 0 2px rgba(0,0,0,.5);
	transform:scale(0) rotate(-12deg);
	transition:all .25s;
	opacity:0;
}
a:hover span, a:focus span
{
	 transform:scale(1) rotate(0);   
	 opacity:0.9;
}