div.grass1{
	background-image: url('../tilesets/Outside_A2.png');
	background-position: 0px 0px;
}


/* HAIE */

div.fence1{
	background-image: url('../tilesets/Outside_A4.png');
	background-position: calc(48px *-13) calc(48px *-4);
}

div.fence2{
	background-image: url('../tilesets/Outside_A4.png');
	background-position: calc(48px *-13) calc(48px *-3);
}



div.clear{
	clear: both;
}