/* FARM */


div.farm-roof1{
	background-image: url('../imageset/farm/farm-roof1.png');
}


div.farm-roof2{
	background-image: url('../imageset/farm/farm-roof2.png');
}


div.farm-roof3{
	background-image: url('../imageset/farm/farm-roof3.png');
	
}


div.farm-roof4{
	background-image: url('../imageset/farm/farm-roof4.png');
}

div.farm-roof5{
	background-image: url('../imageset/farm/farm-roof5.png');
}


div.farm-roof6{
	background-image: url('../imageset/farm/farm-roof6.png');
}


div.farm-wall-left-top{
	background-image: url('../imageset/farm/farm-wall-left-top.png');
	
}

div.farm-wall-mid-top{
	background-image: url('../imageset/farm/farm-wall-mid-top.png');
	
}


div.farm-wall-right-top{
	background-image: url('../imageset/farm/farm-wall-right-top.png');
	
}

div.farm-wall-left-bottom{
	background-image: url('../imageset/farm/farm-wall-left-bottom.png');
	
}


div.farm-door{
	background-image: url('../imageset/farm/farm-door.png');
}


div.farm-wall-right-bottom{
	background-image: url('../imageset/farm/farm-wall-right-bottom.png');
}




