<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	{% include 'includes/header.html.twig' %}
	{% include 'includes/menu.html.twig' %}
	
	<ul>
	{% for current_student in students_list %}
		<li>{{ current_student }}</li>
	{% endfor %}
	</ul>
	
	
	<p>Etudiant sélectionné: {{ selected_student }}</p>
	
</body>
</html>