<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title></title>
	<link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{asset('js/main.js')}}"></script>
</head>
<body>
	{% include 'includes/header.html.twig' %}
	{% include 'includes/menu.html.twig' %}
	
	
	{% for current_image in img_list %}
		<img src="{{ asset(current_image) }}" class="galery_img" />
	{% endfor %}
	
	
	
	<p>Image sélectionnée: <img src="{{ asset(img_list[img_id]) }}" class="selected_img" />
	
</body>
</html>